<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Node Js</title>
  </head>
  <body>
    {{> header}}
    <p>Project Page Text would go here</p>
    {{> footer}}
  </body>
</html>
